:root {
    --primary-color: rgb(50, 66, 91);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

header {
    background-image: linear-gradient(to right, rgb(89, 125, 245) , rgb(3, 21, 63));
    padding: 2px;
    text-align: center;
    color: white;
    width: 100%;
}

header h1 {
    font-size: 26px;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-container {
    flex: 1;
    margin: 8px;
}

.search-container label {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
}

.form-input {
    display: block;
    width: 95%;
    margin: 5px 0;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

.btn {
    padding: 6px;
    display: block;
    width: 100%;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(209, 209, 209);
}

.btn:hover {
    background-color: gray;
}

.search-btn {
    background-color: rgb(107, 164, 244);
    color: white;
}

.search-btn:hover{
    background-color: var(--primary-color);
}

.display-container {
    flex: 2;
}
.current-weather-container {
    border: 1px solid var(--primary-color);
    margin: 8px;
    padding: 6px;
    text-align: left;
}

.current-weather-img {
    width: 40px;
}

.five-day-forecast h3{
    display: block;
    margin: 20px 8px 8px 8px;
}

.city-title h2 {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin: 0;
}

.card {
    background-color: var(--primary-color);
    border-radius: 0;
    color: white;
    padding: 6px;
    flex: 1;
    margin: 8px;
    min-width: 100px;
}

.forecasted-weather {
    font-size: 12px;
}

.card h4 {
    font-size: 14px;
    margin-bottom: 4px;
}

.forecasted-weather-img {
    width: 30px;
    margin: 0;
    padding-top: 0;
}

.forecasted-weather-img-container {
    margin: 0;
    padding: 0;
}

.forecasted-weather-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favorable {
    background-color: rgb(3, 144, 3);
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
}

.moderate {
    background-color: rgb(227, 175, 5);
    padding: 3px 6px;
    color: white;
    border-radius: 5px;
}

.severe {
    background-color: rgba(255, 0, 0, 0.693);
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.search-history-container {
    margin: 15px 0;
    border-top: 1px solid var(--primary-color);
    padding-top: 7px;
}

/* @media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
} */