body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

header {
    background-image: linear-gradient(to right, rgb(89, 125, 245) , rgb(3, 21, 63));
    padding: 6px;
    text-align: center;
    color: white;
}