:root {
    --primary-color: rgb(29, 34, 50);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

header {
    background-image: linear-gradient(to right, rgb(89, 125, 245) , rgb(3, 21, 63));
    padding: 2px;
    text-align: center;
    color: white;
    width: 100%;
}

header h1 {
    font-size: 26px;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-container {
    flex: 1;
    margin: 8px;
}

.search-container label {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
}

.form-input {
    display: block;
    width: 95%;
    margin: 5px 5px 5px 0;
}

.display-container {
    flex: 2;
}
.current-weather-container {
    border: 1px solid var(--primary-color);
    margin: 8px;
    padding: 6px;
    text-align: left;
}

.current-weather-img {
    width: 40px;
}

.city-title {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.card {
    background-color: rgb(29, 34, 50);
    border-radius: 0;
    color: white;
    padding: 6px;
    flex: 1;
    margin: 8px;
}

.forecasted-weather-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favorable {
    background-color: rgb(3, 144, 3);
    color: white;
}

.moderate {
    background-color: rgb(228, 191, 4);
}

.severe {
    background-color: rgba(255, 0, 0, 0.693);
    color: white;
}

/* @media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
} */